/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: left;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 4px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px; 
   opacity: 0.5;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: left;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.5rem;
  background: #D6D6D6;
  display: block;
  opacity: 0.5;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
  opacity: 0.9;
   width: 0.8rem;
  height: 0.8rem;
  margin: 0.35rem;
   }

.owl-dots{
  margin: -2.5rem 0 0rem 1rem !important;
}

.container-dots .owl-dot.active {
  background: #fff !important;
  opacity: 1;
  padding: 6px 6px;
   margin: 3px;
}

