// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x + 0.5rem, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not([disabled]):not(.disabled) {
    cursor: pointer;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
	font-family: 'emon_l';
	
    @if $color == "light" {
      @include button-outline-variant($value, $gray-900);
    } @else {
      @include button-outline-variant($value, $white);
    }
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

.btn-float{
	background-color: $green;
	color: #fff;
	border-radius: 0;
	padding: 1rem;
	border-bottom: 0.5rem solid darken($green, 10%) ;
	position: fixed;
	bottom:0;
	max-width: 48rem;
	width: 100%;
}

.btn-float:hover{
	background-color: darken($green, 5%);
}

.btn-float:active{
background-color: darken($green, 10%);
	border-bottom: 0rem solid darken($green, 10%);	
}

.rounded{
	border-radius: 100px !important;
}

.btn-history{
	border-radius: 100px !important;
	background-color: $gray-200;
	font-family: 'emon_l';
	color: $gray-500;
	padding-right: 3rem;
	padding-top: 0.5rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	
	a{
		display: inline-block;
		color: $black;
		
	}
	
	i{
		margin-left: 0.6rem;
		font-size: 1.5rem;
		color: $gray-500;
		display: inline-block;
		position: absolute;
		margin-top: 0.1rem;
		font-weight: norma;
	}
}
.btn-history:hover{
	border-radius: 100px !important;
	background-color: $gray-300;
	font-family: 'emon_l';
	color: $black;
}

.btn-bagdes{
	border-radius: 50% !important;
	font-family: 'emon_l';
	color: $blue-info;
	border:1px solid $blue-info;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.6rem;
	font-size: 0.85rem;
}

/* BTN-CHECKBOX*/

.btn-checkbox {
    display: inline-block;
    position: relative;
	font-family: 'emon_l';
    margin-bottom: 1rem;
	margin-right: 0.75rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background: $gray-200;
	padding: 0.65rem 1rem 0.65rem 2.75rem;
	border-radius: 100rem;
}

/* Hide the browser's default checkbox */
.btn-checkbox input {
    position: absolute;
    opacity: 0 !important;
    cursor: pointer;
	
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: $gray-500;
	margin-top: 0.70rem;
	margin-left: 0.75rem;
	border-radius: 100rem;
}

/* On mouse-over, add a grey background color */
.btn-checkbox:hover input ~ .checkmark {
    background-color: $gray-500;
	margin-top: 0.70rem;
	margin-left: 0.75rem;
}

/* When the checkbox is checked, add a blue background */
.btn-checkbox input:checked ~ .checkmark {
    background-color: $green;
    border-radius: 50%;
	margin-top: 0.70rem;
	margin-left: 0.75rem;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.btn-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.btn-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
