@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

@import "root";
@import "reboot";
@import "buttons";
@import "grid";

$testborder: 1px solid red;
$orange: #FF6600;
$black: #333333;



/*::selection {
  background: #79379b;
  color: #fff;
}

::-moz-selection {
  background: #79379b; 
  color: #fff;
}*/

*:focus {
    outline: none !important;
}

@font-face{
	font-family: 'emon';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face{
	font-family: 'emon_b';
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face{
	font-family: 'emon_l';
    src: url('../fonts/Montserrat-Light.otf');
}


@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;
			box-shadow: $shadow;
}

.text-left{text-align: left}
.text-center{text-align: center}
.text-right{text-align: right}
.text-block{white-space: nowrap}

.text-l{font-family: 'emon_l'}
.text-sub{font-size: $font-size-sm}

.text-black{color: $black;}
.text-red{color: $red;}
.text-blue{color: $blue;}
.text-green{color: $green;}
.text-pink{color: $pink;}
.text-gray{color: $gray-500;}
.text-orange{color: $orange;}
.text-info{color: $blue-info;}

b{font-family: 'emon_b';}

.title{font-family: 'emon';}
.p-desc{font-family: 'emon_l';}

hr{
	&.divider{
		border:0;
		border-top: 1px solid $gray-200;
		margin: 1rem 0;
	}
}

html {
	font-size: 12px;
}

body{
	background: #F6F6F7;
	font-family: 'emon';
	font-size: $font-size-base;
}

.full-nav{
	width: 100%;
	height: calc(4em - 1px);
	background: #fff;
	overflow:hidden;
	/*margin-bottom: 0.7rem;*/
	position: fixed;
	z-index: 10;
	-webkit-box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			
	&.bottom{
		bottom: 0;
		-webkit-box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,0.05);
	       -moz-box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,0.05);
				box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,0.05);
		
		z-index: 30;
	}
}

.wrap-nav{
	height: calc(4em - 2px);
	width:100%;
}

.top-nav{
	height: 4em;
	width: 100%;
	background: #fff;
	position: relative;
	overflow:hidden;
	
	img{
		margin: 1rem;
		width: 2rem;
		cursor: pointer;
		
		&.logo{width: 2.75rem}
		&.logo-text{width: 7rem}
	}
	
	&.float{
		position: fixed;
		background-color: rgba(0, 0, 0, 0);
		z-index:10;
		max-width:48rem;
	}
}

.filter-nav{
	min-height: 1px;
	width: 100%;
	background: #fff;
	position: relative;
	overflow:hidden;
	
	img{
		width: 1.5rem;
		cursor: pointer;
		}
	
	
	.row{
		border-top: 1px solid $gray-200;
		border-bottom: 1px solid $gray-200;
		
		
		
		.col{ 
			cursor: pointer;
		}
		
		.col:first-child { 
			border-right: 1px solid $gray-200;
			
			.filter{ 
				margin-right: 0rem;
			}
		}
		
		.filter{ 
			margin: 1rem;
		}
	}
	
}

.bottom-nav{
	height: 4em;
	width: 100%;
	background: #fff;
	position: relative;
	overflow:hidden;
	padding-top: 0.5rem;
	
	a{
		color: $gray-500;
		text-decoration: none;
		
		&.active{
			color: $black;
			
			img{
				opacity: 0;
			}
			
			.img-home{
				background: url('../../images/svg/menu-home.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
			.img-category{
				background: url('../../images/svg/menu-category.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
			.img-near{
				background: url('../../images/svg/menu-near.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
			.img-popular{
				background: url('../../images/svg/menu-popular.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
		}
		
		img{
			margin: 0em;
			width :2rem;
			cursor: pointer;
		}
		
		p{
			font-size: 0.7rem;
			text-transform: uppercase;
			
			&.active{
				color: $black;
			}
		}
	}
	
	a:hover{
		.img-home{
			background: url('../../images/svg/menu-home.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		.img-category{
			background: url('../../images/svg/menu-category.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		.img-near{
			background: url('../../images/svg/menu-near.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		.img-popular{
			background: url('../../images/svg/menu-popular.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		
		img{
			opacity: 0;
		}
		p{
			color: $black;
		}
	}
}

.container{
	margin:auto;
	position: relative;
	min-height: 1px;
	max-width: 48rem;
	background: #fff;
	padding :0;
	
	&.full{
		 min-height: calc(100vh - 47px);
	}
}

.card, .detail{
	background: #fff;
	border-bottom: 0.7rem solid #F6F6F7;
	
	.badges{
		text-transform: uppercase;
		position: absolute;
		right:0;
		padding: 0.5rem 1.5rem;
		color: #fff;
		border-radius: 0 0 0 0.5rem;
		z-index:5;
		
		&.popular{background: $red;}
		&.recom{background: $green;}
		&.near{background: $purple;}
	}

	.images{
		img{
			width: 100%;
		}
	}
	a{
		/*color: $black;*/
		text-decoration: none;
	}
	
	.desc{
		background: #fff;
		p{
			margin: 0.4rem 0;
		}
	
		.stars{
			font-family: emon_b;
			white-space: nowrap;
		}
		
		.review{
			text-align: right;
		}
	}
	
	.thumbnail{
		width: 6rem;
		height: 6rem;
		overflow: hidden;
		border-radius: 0.3rem;
		
		img{width: 100%}
	}
	
	.attb-hotel{
		p{
			margin:0.4rem 0;
		}
	}
}

	.sub-title{
		font-size: $font-size-sm;
		color: $gray-500;
		font-family: 'emon_l';
		font-family: 'emon_l';
	}

.desc{
	padding: 15px;
	
	a:hover{
		text-decoration: none;
	}
}

.detail{
	border-bottom: none;
	
	.fa-15x{font-size: 1.2rem}
}

.content{
	font-family: 'emon_l';
}


.card-1{
	position: relative;
	width: 100%;
	
	.object-fit_cover {
		-o-object-fit: cover;
		object-fit: cover;
	}

	img {
		height: 100%;
		background-color: $gray-100;
	}

	img[class] {
		width: 100%;
	}

	.square {
	  position: relative;
	  width: 100%;
	  overflow: hidden;
	  
	}

	.square:after {
	  content: "";
	  display: block;
	  padding-bottom: 100% !important;
	}
	
	.owl-carousel .owl-video-frame:after {
		position: absolute;
		padding-bottom: 100% !important;
		width: 50%;
		padding-bottom: 100% !important;
	}

	.images{
	  position: absolute !important;
	  width: 100%;
	  height: 100%;
	}
	
	.container-dots{
		position: absolute;
		z-index:50;
		bottom: 2rem;
		background: none;
		width: 100%;
		height: 2rem;
		padding-left: 2rem;
	}
}

.card-2{
	position: relative;
	width: 100%;
	padding-bottom: 0.5rem;
	
	.object-fit_cover {
		-o-object-fit: cover;
		object-fit: cover;
	}


	img {
		height: 100%;
		background-color: $gray-100;
	}

	img[class] {
		width: 100%;
	}

	.square {
	  position: relative;
	  width: 100%;
	  margin: 17.5% 0;
	  border-radius: 0.75rem;
	  overflow: hidden;
	}

	.square:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
	}


	.portrait {
	  position: relative;
	  width: 100%;
	  border-radius: 0.75rem;
	  overflow: hidden;
	}

	.portrait:after {
	  content: "";
	  display: block;
	  padding-bottom: 135%;
	}

	.images{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}
}

.card-2-desc{
	p.title{
		margin:0;
		height: 3rem;
	}
}


.tab.row{
	text-align: center;
	border-bottom: 1px solid $blue-info;
	margin-bottom: 2rem;
	
	.col{
		padding: 1.5rem;
		color: $gray-500;
		font-family: 'emon_l';
		cursor: pointer;
	}

	.active{
		color: $blue-info;
		border-bottom: 3px solid $blue-info;
		font-family: 'emon';
	}
}

.stack-page{
	text-align: center;
	padding: 3rem 1rem;
	font-family: 'emon_l';
	color: $gray-600;
	background: $gray-100;
}

.container-search{
	position: fixed;
	z-index:10;
	width:100%;
	top: 0px;
	
	
	.page-search{
		margin: auto;
		max-width: 48rem;
		background: #fff;
		height: calc(100vh - 3rem;);
		position: relative;
	}
}

	.form-search{
		display: block;
		width: 100% !important;
		border:0;
		
		padding: 1.2rem 0;
	}
	
	.clear-history{
		position:absolute;
		width: 100%;
		bottom:3rem;
		text-align: center;
	}
	
	.border-bottom{
		border-bottom: 1px solid $gray-200;
	}

.list-category{
	border: 1px solid $gray-200;
	border-radius: 1rem;
	margin-bottom:1rem;
	padding: 1.5rem 1rem;
	cursor: pointer;
	
	img{
		width: 65%;
	}
	p{
		font-family: 'emon_l';
		color: $gray-600;
	}
}

.list-category:active{
	border: 1px solid $gray-500;
}

.badge{
	padding: 0.3rem 0.5rem;
	border-radius: 0.2rem;
	color: $white;
	font-size: 0.8rem;
	
	&.badge-success{background: $green;}
	&.badge-danger{background: $red;}
}

.circle-list{
	margin-bottom: 1.25rem;

	.circle-img{
		border-radius: 50%;
		height: 4rem;
		width: 4rem;
		overflow: hidden;
		
		img{
			width: 100%;
		}
	}
	
	.p-desc{
		color: $gray-500;
		font-size: 0.85rem;
	}
}

.vertical-middle{
	display: table;
	position: absolute;
	height: calc(100vh - 2rem);
	width: calc(100% - 32px;);
	/*border: 1px solid red;*/
	
	.middle {
	  display: table-cell;
	  vertical-align: middle;
	}
	
	img{
		width:40%;
	}
}

/*SPINNER*/
.fr-spinner{
	background: transparent;
}
	.sk-fading-circle {
	  margin: 100px auto;
	  width: 5rem;
	  height: 5rem;
	  position: relative;
	  background: #fff;
	  border-radius: 100%;
	  -webkit-box-shadow: 0 0.7rem 0.7rem rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 0.7rem 0.7rem rgba(0,0,0,0.05);
			box-shadow: 0 0.7rem 0.7rem rgba(0,0,0,0.05);
	}

	.sk-fading-circle .sk-circle {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  left: 0;
	  top: 0;
	  padding: 1rem;
	}

	.sk-fading-circle .sk-circle:before {
	  content: '';
	  display: block;
	  margin: 0 auto;
	  width: 10%;
	  height: 10%;
	  background-color: $red;
	  border-radius: 100px;
	  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	}
	.sk-fading-circle .sk-circle2 {
	  -webkit-transform: rotate(30deg);
		  -ms-transform: rotate(30deg);
			  transform: rotate(30deg);
	}
	.sk-fading-circle .sk-circle3 {
	  -webkit-transform: rotate(60deg);
		  -ms-transform: rotate(60deg);
			  transform: rotate(60deg);
	}
	.sk-fading-circle .sk-circle4 {
	  -webkit-transform: rotate(90deg);
		  -ms-transform: rotate(90deg);
			  transform: rotate(90deg);
	}
	.sk-fading-circle .sk-circle5 {
	  -webkit-transform: rotate(120deg);
		  -ms-transform: rotate(120deg);
			  transform: rotate(120deg);
	}
	.sk-fading-circle .sk-circle6 {
	  -webkit-transform: rotate(150deg);
		  -ms-transform: rotate(150deg);
			  transform: rotate(150deg);
	}
	.sk-fading-circle .sk-circle7 {
	  -webkit-transform: rotate(180deg);
		  -ms-transform: rotate(180deg);
			  transform: rotate(180deg);
	}
	.sk-fading-circle .sk-circle8 {
	  -webkit-transform: rotate(210deg);
		  -ms-transform: rotate(210deg);
			  transform: rotate(210deg);
	}
	.sk-fading-circle .sk-circle9 {
	  -webkit-transform: rotate(240deg);
		  -ms-transform: rotate(240deg);
			  transform: rotate(240deg);
	}
	.sk-fading-circle .sk-circle10 {
	  -webkit-transform: rotate(270deg);
		  -ms-transform: rotate(270deg);
			  transform: rotate(270deg);
	}
	.sk-fading-circle .sk-circle11 {
	  -webkit-transform: rotate(300deg);
		  -ms-transform: rotate(300deg);
			  transform: rotate(300deg); 
	}
	.sk-fading-circle .sk-circle12 {
	  -webkit-transform: rotate(330deg);
		  -ms-transform: rotate(330deg);
			  transform: rotate(330deg); 
	}
	.sk-fading-circle .sk-circle2:before {
	  -webkit-animation-delay: -1.1s;
			  animation-delay: -1.1s; 
	}
	.sk-fading-circle .sk-circle3:before {
	  -webkit-animation-delay: -1s;
			  animation-delay: -1s; 
	}
	.sk-fading-circle .sk-circle4:before {
	  -webkit-animation-delay: -0.9s;
			  animation-delay: -0.9s; 
	}
	.sk-fading-circle .sk-circle5:before {
	  -webkit-animation-delay: -0.8s;
			  animation-delay: -0.8s; 
	}
	.sk-fading-circle .sk-circle6:before {
	  -webkit-animation-delay: -0.7s;
			  animation-delay: -0.7s; 
	}
	.sk-fading-circle .sk-circle7:before {
	  -webkit-animation-delay: -0.6s;
			  animation-delay: -0.6s; 
	}
	.sk-fading-circle .sk-circle8:before {
	  -webkit-animation-delay: -0.5s;
			  animation-delay: -0.5s; 
	}
	.sk-fading-circle .sk-circle9:before {
	  -webkit-animation-delay: -0.4s;
			  animation-delay: -0.4s;
	}
	.sk-fading-circle .sk-circle10:before {
	  -webkit-animation-delay: -0.3s;
			  animation-delay: -0.3s;
	}
	.sk-fading-circle .sk-circle11:before {
	  -webkit-animation-delay: -0.2s;
			  animation-delay: -0.2s;
	}
	.sk-fading-circle .sk-circle12:before {
	  -webkit-animation-delay: -0.1s;
			  animation-delay: -0.1s;
	}

	@-webkit-keyframes sk-circleFadeDelay {
	  0%, 39%, 100% { opacity: 0; }
	  40% { opacity: 1; }
	}

	@keyframes sk-circleFadeDelay {
	  0%, 39%, 100% { opacity: 0; }
	  40% { opacity: 1; } 
	}




@media screen and (min-width: 1367px){
	
}


@media screen and (max-width: 992px){
	.container{
		margin:auto;
		margin-top: 0;
		width:100%;
	}
}
    

@media screen and (max-height: 450px) {
	.container{
		margin:auto;
		margin-top: 0;
		width:100%;
	}
  
  
}


/* PLACEHOLDER */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-300;
  font-family: 'emon_l';
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray-300;
  font-family: 'emon_l';
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray-300;
  font-family: 'emon_l';
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray-300;
  font-family: 'emon_l';
}