@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

@import "root";
@import "reboot";
@import "buttons";
@import "grid";

$testborder: 1px solid red;
$orange: #FF6600;
$black: #333333;



/*::selection {
  background: #79379b;
  color: #fff;
}

::-moz-selection {
  background: #79379b; 
  color: #fff;
}*/

*:focus {
    outline: none !important;
}

@font-face{
	font-family: 'emon';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face{
	font-family: 'emon_b';
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face{
	font-family: 'emon_l';
    src: url('../fonts/Montserrat-Light.otf');
}


@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
	   -moz-box-shadow: $shadow;
			box-shadow: $shadow;
}

.text-left{text-align: left}
.text-center{text-align: center}
.text-right{text-align: right}
.text-block{white-space: nowrap}

.text-l{font-family: 'emon_l'}
.text-sub{font-size: $font-size-sm}

.text-black{color: $black;}
.text-red{color: $red;}
.text-blue{color: $blue;}
.text-green{color: $green;}
.text-pink{color: $pink;}
.text-gray{color: $gray-500;}
.text-orange{color: $orange;}
.text-info{color: $blue-info;}

b{font-family: 'emon_b';}

.title{font-family: 'emon';}
.p-desc{font-family: 'emon_l';}

input[type=text]{
	&.form{
		border: 1px solid $gray-300;
		border-radius: 0.5rem;
		padding: 0.75rem;
		display: block;
		width:100%;
		
		&.form-clean{
			border: 0px;
			display: block;
			width:100%;
			font-family: 'emon_l';
		}
	}
}

hr{
	&.divider{
		border:0;
		border-top: 1px solid $gray-200;
		margin: 1rem 0;
	}
}

html {
	font-size: 12px;
}

body{
	background: #F6F6F7;
	font-family: 'emon';
	font-size: $font-size-base;
	
	&.active, &.active_2{
		overflow:hidden;
		width: 100%;
		height: 100%;
	}
}

.full-nav{
	width: 100%;
	height: calc(4em - 1px);
	background: #fff;
	overflow:hidden;
	/*margin-bottom: 0.7rem;*/
	position: fixed;
	z-index: 10;
	transition: top 0.3s;
	
	-webkit-box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			
	&.bottom{
		bottom: 0;
		transition: bottom 0.3s;
		
		-webkit-box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,0.05);
	       -moz-box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,0.05);
				box-shadow: 0 -0.3rem 0.3rem rgba(0,0,0,0.05);
		
		z-index: 50;
	}
}

.wrap-nav{
	height: calc(4em - 2px);
	width:100%;
}

.top-nav{
	height: 4em;
	width: 100%;
	background: #fff;
	position: relative;
	overflow:hidden;
	
	img{
		margin: 1rem;
		width: 2rem;
		cursor: pointer;
		
		&.logo{width: 2.75rem}
		&.logo-text{width: 7rem}

	}
	
	&.float{
		position: fixed;
		background-color: rgba(0, 0, 0, 0);
		z-index:10;
		max-width:48rem;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		
		span{
			opacity:0;
		}
		
		&.active{
			background: #fff;
			-webkit-box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			-moz-box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.05);
			
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			
			img{
				-webkit-filter: brightness(0%); /* Safari 6.0 - 9.0 */
				filter: brightness(0%);
			}
			
			span{
				opacity:1;
			}
		}
	}
}

.filter-nav{
	min-height: 1px;
	width: 100%;
	max-width: 48rem;
	background: #fff;
	position: relative;
	overflow:hidden;
	position: fixed;
	z-index: 2;
	transition: top 0.3s;
	
	.col-filter.active, .col-sortby.active{
		background: $gray-100;
		
		
	}
	
	.ico-chevron{
			-ms-transform: rotate(180deg); /* IE 9 */
			-webkit-transform: rotate(180deg); /* Safari 3-8 */
			transform: rotate(180deg);
		}
	
	img{
		width: 1.5rem;
		cursor: pointer;
		}
	
	
	.row{
		border-top: 1px solid $gray-200;
		border-bottom: 1px solid $gray-200;
		
		
		
		.col{ 
			cursor: pointer;
		}
		
		.col:first-child { 
			border-right: 1px solid $gray-200;
			
			.filter{ 
				margin-right: 0rem;
			}
		}
		
		.filter{ 
			margin: 1rem;
		}
	}
	
}

.side-filter, .side-sortby{
	height: 150vh;
	width: 100%;
	max-width: 48rem;
	position: fixed;
	background: #fff;
	z-index:5;
	top: calc(8rem - 4px);
	transition: top 0.3s;
	
	
	
	
	-webkit-box-shadow: -0.3rem 0 0.3rem rgba(0,0,0,0.05);
	   -moz-box-shadow: -0.3rem 0 0.3rem rgba(0,0,0,0.05);
			box-shadow: -0.3rem 0 0.3rem rgba(0,0,0,0.05);
			
	.desc{
		overflow: auto;
		height: 100vh;
		padding-bottom: 20rem;
		margin-bottom: 20rem;
		position: fixed;
		
	}
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: $blue-info;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: $blue-info;
    cursor: pointer;
	border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.list-sort{
	list-style: none;
	margin-left: 0;
	padding: 0;
	
	li{
		padding:0;
		margin: 1.5rem 0 1.5rem 3.5rem;
		
		&.active{
			margin-left: 1rem;
			
			a{
				color: $black;
				font-family: 'emon';
			}
			
		}
	}
	
	a{
		color: $gray-600;
		font-family: 'emon_l';
	}
	
	i{
		margin-right: 1.5rem;
		color: $green;
	}
}

.bottom-nav{
	height: 4em;
	width: 100%;
	background: #fff;
	position: relative;
	overflow:hidden;
	padding-top: 0.5rem;
	
	a{
		color: $gray-500;
		text-decoration: none;
		
		&.active{
			color: $black;
			
			img{
				opacity: 0;
			}
			
			.img-home{
				background: url('../../images/svg/menu-home.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
			.img-category{
				background: url('../../images/svg/menu-category.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
			.img-near{
				background: url('../../images/svg/menu-near.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
			.img-popular{
				background: url('../../images/svg/menu-popular.svg') center center no-repeat;
				background-size: 2rem 2rem;
			}
		}
		
		img{
			margin: 0em;
			width :2rem;
			cursor: pointer;
		}
		
		p{
			font-size: 0.7rem;
			text-transform: uppercase;
			
			&.active{
				color: $black;
			}
		}
	}
	
	a:hover{
		.img-home{
			background: url('../../images/svg/menu-home.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		.img-category{
			background: url('../../images/svg/menu-category.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		.img-near{
			background: url('../../images/svg/menu-near.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		.img-popular{
			background: url('../../images/svg/menu-popular.svg') center center no-repeat;
			background-size: 2rem 2rem;
		}
		
		img{
			opacity: 0;
		}
		p{
			color: $black;
		}
	}
}

.container{
	margin:auto;
	position: relative !important;
	min-height: 1px;
	max-width: 48rem;
	background: #fff;
	padding :0;
	
	&.full{
		 min-height: calc(100vh - 47px);
	}
}

.card, .detail{
	background: #fff;
	border-bottom: 0.7rem solid #F6F6F7;
	
	.badges{
		text-transform: uppercase;
		position: absolute;
		right:0;
		padding: 0.5rem 1.5rem;
		color: #fff;
		border-radius: 0 0 0 0.5rem;
		z-index:5;
		
		&.red{background: $red;}
		&.green{background: $green;}
		&.purple{background: $purple;}
		&.blue{background: $blue;}
		&.orange{background: $blue;}
	}

	.images{
		img{
			width: 100%;
		}
	}
	a{
		/*color: $black;*/
		text-decoration: none;
	}
	
	.desc{
		background: #fff;
		p{
			margin: 0.4rem 0;
		}
	
		.stars{
			font-family: emon_b;
			white-space: nowrap;
		}
		
		.review{
			text-align: right;
		}
	}
	
	.thumbnail{
		width: 6rem;
		height: 6rem;
		overflow: hidden;
		border-radius: 0.3rem;
		
		img{width: 100%}
	}
	
	.attb-hotel{
		p{
			margin:0.4rem 0;
		}
	}
}

	.sub-title{
		font-size: $font-size-sm;
		color: $gray-500;
		font-family: 'emon_l';
		font-family: 'emon_l';
	}

.desc{
	padding: 15px;
	
	a:hover{
		text-decoration: none;
	}
}

.detail{
	border-bottom: none;
	
	.fa-15x{font-size: 1.2rem}
}

.content{
	font-family: 'emon_l';
}


.card-1{
	position: relative;
	width: 100%;
	
	.object-fit_cover {
		-o-object-fit: cover !important;
		object-fit: cover !important;
	}

	img {
		height: 100% !important;
		background-color: $gray-100;
	}

	img[class] {
		width: 100% !important;
	}

	.square {
	  position: relative;
	  width: 100%;
	  overflow: hidden;
	  background: $gray-200;
	  background-size: cover !important;
	}

	.square:after {
	  content: "";
	  display: block;
	  padding-bottom: 100% !important;
	}
	
	.owl-carousel .owl-video-frame:after {
		position: absolute;
		padding-bottom: 100% !important;
		width: 50%;
	}

	.images{
	  position: absolute !important;
	  width: 100%;
	  height: 100%;
	}
	
	.container-dots{
		position: absolute;
		z-index:50;
		bottom: 1rem;
		background: none;
		width: 100%;
		height: 2rem;
		padding-left: 2rem;
	}
	
	
}

.btn-play{
		position: absolute;
		left: 50%;
		margin-top:50%;
		transform: translate(-50%, -50%);
		width:5rem;
		height:5rem;
		border: 0px solid red;
		text-align: center;	
		color: #fff;
	}
	
.btn-play:hover{
		color: #fff;
	}

.card-2{
	position: relative;
	width: 100%;
	padding-bottom: 0.5rem;
	
	.object-fit_cover {
		-o-object-fit: cover;
		object-fit: cover;
	}


	img {
		height: 100%;
		background-color: $gray-100;
	}

	img[class] {
		width: 100%;
	}

	.square {
	  position: relative;
	  width: 100%;
	  margin: 17.5% 0;
	  border-radius: 0.75rem;
	  overflow: hidden;
	}

	.square:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
	}


	.portrait {
	  position: relative;
	  width: 100%;
	  border-radius: 0.75rem;
	  overflow: hidden;
	}

	.portrait:after {
	  content: "";
	  display: block;
	  padding-bottom: 135%;
	}

	.images{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}
}

.card-2-desc{
	p.title{
		margin:0;
		height: 3rem;
	}
}


.tab.row{
	text-align: center;
	border-bottom: 1px solid $blue-info;
	margin-bottom: 2rem;
	
	.col{
		padding: 1.5rem;
		color: $gray-500;
		font-family: 'emon_l';
		cursor: pointer;
	}

	.active{
		color: $blue-info;
		border-bottom: 3px solid $blue-info;
		font-family: 'emon';
	}
}

.stack-page{
	text-align: center;
	padding: 3rem 1rem;
	font-family: 'emon_l';
	color: $gray-600;
	background: $gray-100;
}


.container-share{
	top:0;
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 48rem;
	z-index:50;
	
	
	.container-icon{
		background: #fff;
		position: fixed;
		bottom: calc(0px - 100vh);
		width: 100%;
		max-width: 48rem;
		font-size: 0.8rem;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index:10;
		
		.share-icon{
			text-align: center;
			margin: auto;
			padding: 0.75rem;
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			border: 1px solid $gray-300;
			font-size: 1.5rem;
			margin-bottom: 1rem;
			overflow: hidden;
		}
		.share-icon:active{
			background: $gray-200;
		}
	}
	
	.container-icon.show{
		bottom: 0px;
	}
}

.copied{
	text-align: center;
	position: absolute;
	font-size: 0.8rem;
	background: $red;
	padding: 0.5rem 1rem;
	margin: -3.5rem 0 0 -1.5rem;
	border-radius: 0.5rem;
	color: #fff;
}

.wrapper{
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 48rem;
	top:0;
	background: rgba(0,0,0,0.5);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $red;
  margin: auto;
  margin-top: 5px;
  margin-bottom: -10px;
}


.container-search{
	position: fixed;
	z-index:10;
	width:100%;
	top: 0px;
	
	
	.page-search{
		margin: auto;
		max-width: 48rem;
		background: #fff;
		height: 100vh;
		position: relative;
	}
}

	.form-search{
		display: block;
		width: 100% !important;
		border:0;
		
		padding: 1.2rem 0;
	}
	
	.clear-history{
		position:absolute;
		width: 100%;
		bottom:7rem;
		text-align: center;
	}
	
	.border-bottom{
		border-bottom: 1px solid $gray-200;
	}

.list-category{
	border: 1px solid $gray-200;
	border-radius: 1rem;
	margin-bottom:1rem;
	padding: 1.5rem 1rem;
	cursor: pointer;
	
	img{
		width: 65%;
	}
	p{
		font-family: 'emon_l';
		color: $gray-600;
	}
}

.list-category:active{
	border: 1px solid $gray-500;
}

.badge{
	padding: 0.3rem 0.5rem;
	border-radius: 0.2rem;
	color: $white;
	font-size: 0.8rem;
	
	&.badge-success{background: $green;}
	&.badge-danger{background: $red;}
}

.circle-list{
	margin-bottom: 1.25rem;

	.circle-img{
		border-radius: 50%;
		height: 4rem;
		width: 4rem;
		overflow: hidden;
		
		img{
			width: 100%;
		}
	}
	
	.p-desc{
		color: $gray-500;
		font-size: 0.85rem;
	}
}

.vertical-middle{
	display: table;
	position: absolute;
	height: calc(100vh - 2rem);
	width: calc(100% - 32px;);
	/*border: 1px solid red;*/
	
	.middle {
	  display: table-cell;
	  vertical-align: middle;

	  	h2{
	  		font-family: 'emon_l';
	  	}
	}
	
	img{
		width:40%;
		margin-bottom: 2rem;
	}
}

.vertical-normal{
	min-height: 1rem;
	width: 100%;
	// border: 1px solid red;
	
	.middle {
	  display: table-cell;
	  vertical-align: middle;

	  	h2{
	  		font-family: 'emon_l';
	  	}
	}
	
	img{
		width:40%;
		margin-bottom: 2rem;
		margin-top: 8rem;
	}
}

.placement{
	position: relative;
	overflow: hidden;
	
	&.p_1{
		width:100%;
		height:48rem;
		background: $gray-300;
	}
	
	&.p_pt{
		width:100%;
		height:30rem;
		background: $gray-300;
		margin-bottom:1rem;
		border-radius: 0.5rem;
	}
	
	&.p_sq{
		width:100%;
		height:23rem;
		background: $gray-300;
		margin:4rem 0;
		border-radius: 0.5rem;
	}
	
	&.p_2{
		width:80%;
		height:1rem;
		background: $gray-300;
		margin-bottom: 1rem;
	}
	&.p_3{
		width:50%;
		height:0.75rem;
		background: $gray-200;
		margin-bottom: 2rem;
	}
	&.p_4{
		float: right;
		width:100%;
		min-width: 8rem;
		height:0.75rem;
		margin-bottom: 1rem;
		background: $yellow;
	}
	&.p_5{
		float: right;
		width:80%;
		height:0.75rem;
		background: $gray-200;
	}
	
	&.p_6{
		width:70%;
		height:0.75rem;
		margin-bottom: 1rem;
		background: $gray-200;
	}
	&.p_7{
		width:100%;
		height:1rem;
		margin-top: 1rem;
		background: $gray-200;
	}
	&.p_btn{
		float:right;
		width: 5rem;
		height:3rem;
		margin-bottom: 1rem;
		background: $gray-200;
		border-radius: 0.3rem;
	}
	
}

.placement:after {
	content:'';
	width:100%;
	height:48rem;
	position: absolute;
	z-index:1;
	animation: slide 1s infinite;
	 
	/* 
	CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
	*/
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}


/*SPINNER*/
.fr-spinner{
	background: transparent;
}
	.sk-fading-circle {
	  margin: 100px auto;
	  width: 5rem;
	  height: 5rem;
	  position: relative;
	  background: #fff;
	  border-radius: 100%;
	  -webkit-box-shadow: 0 0.7rem 0.7rem rgba(0,0,0,0.05);
	   -moz-box-shadow: 0 0.7rem 0.7rem rgba(0,0,0,0.05);
			box-shadow: 0 0.7rem 0.7rem rgba(0,0,0,0.05);
	}

	.sk-fading-circle .sk-circle {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  left: 0;
	  top: 0;
	  padding: 1rem;
	}

	.sk-fading-circle .sk-circle:before {
	  content: '';
	  display: block;
	  margin: 0 auto;
	  width: 10%;
	  height: 10%;
	  background-color: $red;
	  border-radius: 100px;
	  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	}
	.sk-fading-circle .sk-circle2 {
	  -webkit-transform: rotate(30deg);
		  -ms-transform: rotate(30deg);
			  transform: rotate(30deg);
	}
	.sk-fading-circle .sk-circle3 {
	  -webkit-transform: rotate(60deg);
		  -ms-transform: rotate(60deg);
			  transform: rotate(60deg);
	}
	.sk-fading-circle .sk-circle4 {
	  -webkit-transform: rotate(90deg);
		  -ms-transform: rotate(90deg);
			  transform: rotate(90deg);
	}
	.sk-fading-circle .sk-circle5 {
	  -webkit-transform: rotate(120deg);
		  -ms-transform: rotate(120deg);
			  transform: rotate(120deg);
	}
	.sk-fading-circle .sk-circle6 {
	  -webkit-transform: rotate(150deg);
		  -ms-transform: rotate(150deg);
			  transform: rotate(150deg);
	}
	.sk-fading-circle .sk-circle7 {
	  -webkit-transform: rotate(180deg);
		  -ms-transform: rotate(180deg);
			  transform: rotate(180deg);
	}
	.sk-fading-circle .sk-circle8 {
	  -webkit-transform: rotate(210deg);
		  -ms-transform: rotate(210deg);
			  transform: rotate(210deg);
	}
	.sk-fading-circle .sk-circle9 {
	  -webkit-transform: rotate(240deg);
		  -ms-transform: rotate(240deg);
			  transform: rotate(240deg);
	}
	.sk-fading-circle .sk-circle10 {
	  -webkit-transform: rotate(270deg);
		  -ms-transform: rotate(270deg);
			  transform: rotate(270deg);
	}
	.sk-fading-circle .sk-circle11 {
	  -webkit-transform: rotate(300deg);
		  -ms-transform: rotate(300deg);
			  transform: rotate(300deg); 
	}
	.sk-fading-circle .sk-circle12 {
	  -webkit-transform: rotate(330deg);
		  -ms-transform: rotate(330deg);
			  transform: rotate(330deg); 
	}
	.sk-fading-circle .sk-circle2:before {
	  -webkit-animation-delay: -1.1s;
			  animation-delay: -1.1s; 
	}
	.sk-fading-circle .sk-circle3:before {
	  -webkit-animation-delay: -1s;
			  animation-delay: -1s; 
	}
	.sk-fading-circle .sk-circle4:before {
	  -webkit-animation-delay: -0.9s;
			  animation-delay: -0.9s; 
	}
	.sk-fading-circle .sk-circle5:before {
	  -webkit-animation-delay: -0.8s;
			  animation-delay: -0.8s; 
	}
	.sk-fading-circle .sk-circle6:before {
	  -webkit-animation-delay: -0.7s;
			  animation-delay: -0.7s; 
	}
	.sk-fading-circle .sk-circle7:before {
	  -webkit-animation-delay: -0.6s;
			  animation-delay: -0.6s; 
	}
	.sk-fading-circle .sk-circle8:before {
	  -webkit-animation-delay: -0.5s;
			  animation-delay: -0.5s; 
	}
	.sk-fading-circle .sk-circle9:before {
	  -webkit-animation-delay: -0.4s;
			  animation-delay: -0.4s;
	}
	.sk-fading-circle .sk-circle10:before {
	  -webkit-animation-delay: -0.3s;
			  animation-delay: -0.3s;
	}
	.sk-fading-circle .sk-circle11:before {
	  -webkit-animation-delay: -0.2s;
			  animation-delay: -0.2s;
	}
	.sk-fading-circle .sk-circle12:before {
	  -webkit-animation-delay: -0.1s;
			  animation-delay: -0.1s;
	}

	@-webkit-keyframes sk-circleFadeDelay {
	  0%, 39%, 100% { opacity: 0; }
	  40% { opacity: 1; }
	}

	@keyframes sk-circleFadeDelay {
	  0%, 39%, 100% { opacity: 0; }
	  40% { opacity: 1; } 
	}




@media screen and (min-width: 1367px){
	
}


@media screen and (max-width: 992px){
	.container{
		margin:auto;
		margin-top: 0;
		width:100%;
	}
	
	.placement{
		position: relative;
		overflow: hidden;
		
		&.p_1{
			width:100%;
			height:30rem ;
			background: $gray-300;
		}
		
		&.p_pt{
			width:100%;
			height:22rem;
			background: $gray-300;
			margin-bottom:1rem;
			border-radius: 0.5rem;
		}
		
		&.p_sq{
			width:100%;
			height:15rem;
			background: $gray-300;
			margin:4rem 0;
			border-radius: 0.5rem;
		}
		
	}
	.placement:after {
		content:'';
		width:100%;
		height:48rem !important;
		position: absolute;
		z-index:1;
		animation: slide 1s infinite;
	}
}
    

@media screen and (max-height: 450px) {
	.container{
		margin:auto;
		margin-top: 0;
		width:100%;
	}
  
	
}


/* PLACEHOLDER */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-300;
  font-family: 'emon_l';
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray-300;
  font-family: 'emon_l';
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray-300;
  font-family: 'emon_l';
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray-300;
  font-family: 'emon_l';
}